page-shop-cycle {
  .detail-shop{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }
  .header{
    display: flex;
    height: 51px;
    justify-content: center;
  }
  .detail-shop__item__title{
    font-weight: bold
  }
  
  .icon{
    font-size: 2.8em;
    margin-right: 2%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .detail-shop__title{
    font-family: OpenSans-Bold;
    font-size: 27px;
    color: #818181;
    margin-bottom: 17px;
  }
  .detail-shop__item{
    font-family: OpenSans-Regular;
    font-size: 15px;
    margin-bottom: 15px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .detail-shop__item__contain{
    width: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
