<ion-header *ngIf="status != 'Y'">
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid *ngIf="user">
        <div class="div-title">
            <p>Completa los datos de tu tarjeta</p>
        </div>
        <div *ngIf="false">
            <p class="text-subtitle">DATOS SOBRE TI</p>
            <form (submit)="showFormCardData()">
                <div class="dos-inputs">
                    <div class="input">
                        <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="user.name">
                    </div>
                    <div class="input">
                        <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="user.lastName">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="email" placeholder="Correo Electrónico" [(ngModel)]="user.email">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="numero" placeholder="Número de celular" [(ngModel)]="user.celPhone">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="direccion" placeholder="Dirección" [(ngModel)]="user.address">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="ciudad" placeholder="Ciudad" [(ngModel)]="user.city">
                    </div>
                </div>
                <div class="div-boton">
                    <button type="submit">CONTINUAR</button>
                </div>
            </form>
        </div>
        <div *ngIf="true">
            <form (submit)="goToFormCardDataPayu()">
                <div class="dos-inputs">
                    <div class="input">
                        <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="userWithPayU.name">
                    </div>
                    <div class="input">
                        <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="userWithPayU.lastName">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="email" placeholder="Correo Electrónico" [(ngModel)]="userWithPayU.email">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="numero" placeholder="Celular" [(ngModel)]="userWithPayU.celPhone">
                    </div>
                </div>
                <div class="un-input">
                    <div class="div-input">
                        <input type="text" name="dni" placeholder="DNI, RUT o CURP" [(ngModel)]="userWithPayU.dni">
                    </div>
                </div>
                <div class="un-input" *ngIf="true">
                    <div class="div-input">
                        <input type="text" name="nacimiento" placeholder="1997-08-25 (Fecha de nacimiento)" [(ngModel)]="userWithPayU.birthdate">
                    </div>
                </div>
                <div class="un-input">
                    <select name="type_card" id="type_card" class="select-typecard" [(ngModel)]="choosedCard">
                        <option value="">Selecciona tu tarjeta</option>
                        <option value="VISA">Tarjeta de Crédito - Visa</option>
                        <option value="MASTERCARD">Tarjeta de Crédito - Mastercard</option>
                        <option value="DINERS" *ngIf=!userFromMexico>Tarjeta de Crédito - Diners Club</option>
                        <option value="AMEX">Tarjeta de Crédito - American Express</option>
                    </select>
                </div>
                <div class="div-boton">
                    <button type="submit">CONTINUAR</button>
                </div>
            </form>
        </div>
    </ion-grid>
</ion-content>