<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid *ngIf="plan">

            <div class="plan-card">
                <div class="plan-name">
                    <p>{{plan.name}}</p>
                </div>
                <div class="plan-detail">
                  <ion-item>
                    <ion-label>Sesiones</ion-label>
                    <ion-select [(ngModel)]="optionSession" #C (ionChange)="onChangeSession(C.value)">
                      <ion-option [selected]="optionSession == 0" [value]="-1">--------</ion-option>>
                      <ion-option *ngFor="let session of sessionsCiclo"  [value]="session.lessonsIds">{{session.sessions}}</ion-option>
                    </ion-select>
                    </ion-item>
                    <p>Vigencia:
                        <span *ngFor="let item of sessionsCiclo">
                          <span *ngIf="item.lessonsIds== id"> {{item.months}} meses</span>
                        </span>
                        <span *ngIf="id == undefined"> 0 meses</span>
                    </p>
                    <p>Precio:
                      <span *ngFor="let item of sessionsCiclo">
                          <span *ngIf="item.lessonsIds == id"> {{currency}} {{item.price}} </span>
                      </span>
                      <span *ngIf="id == undefined"> {{currency}} 0 </span>
                    </p>
                </div>
            </div>


            <div class="plan-description">
                <div class="div-bottom">
                    <button (tap)="calendarCiclo()">¡INSCRIBEME!</button>
                </div>
            </div>

    </ion-grid>
</ion-content>
