<ion-header >
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-grid>
      <div class="detail-shop" *ngIf="status === 'Y'">
        <div class="detail-shop__title">DETALLES DE COMPRA</div>
        <div class="detail-shop__item">Plan  <div class="detail-shop__item__contain">{{lessonObject.disciplineName}}</div></div>
        <div class="detail-shop__item">Precio  <div class="detail-shop__item__contain">{{currency}}  {{lessonObject.programPlanPrice}}</div></div>
        <div class="detail-shop__item">Horario  <div class="detail-shop__item__contain">{{lessonObject.start}}-{{lessonObject.end}}</div></div>
        <div class="detail-shop__item">Posición  <div class="detail-shop__item__contain">{{myPosition}}</div></div>
        <div class="detail-shop__item">Sesiones <div class="detail-shop__item__contain">{{lessonObject.programPlanSessions}}</div></div>
      </div>

        <form (submit)="startPayment()">
            <div class="name-plan">
                <p *ngIf="plan.name">Quiero comprar el plan <strong>{{plan.name}}</strong></p>
                <p *ngIf="product.title">Quiero comprar el producto <strong>{{product.title}}</strong></p>
            </div>
            <p class="text-subtitle">DATOS SOBRE TU TARJETA</p>
            <div class="un-input">
                <div class="div-input">
                    <input type="text" name="numero" placeholder="Número de tarjeta" [(ngModel)]="card.number">
                </div>
            </div>
            <div class="dos-inputs" *ngIf="!usePayU">
                <div class="inpu">
                    <input type="text" name="expdate" placeholder="MM/AAAA" [(ngModel)]="card.expDate">
                </div>
                <div class="inpu">
                    <input type="text" name="cvv" placeholder="CVV" [(ngModel)]="card.cvv">
                </div>
            </div>
            <div class="dos-inputs" *ngIf="usePayU">
                <div class="inpu">
                    <input type="text" name="expdate" placeholder="AAAA/MM" [(ngModel)]="card.expDate">
                </div>
                <div class="inpu">
                    <input type="text" name="cvv" placeholder="CVV" [(ngModel)]="card.cvv">
                </div>
            </div>
            <div class="div-boton">
                <!-- <button *ngIf="plan.price" type="submit">PAGAR {{currency}} {{plan.price}}</button>
                <button *ngIf="product.price" type="submit">PAGAR {{currency}} {{product.price}}</button> -->
                <button *ngIf="lessonObject.programPlanPrice" type="submit">PAGAR {{currency}} {{lessonObject.programPlanPrice}}</button>
            </div>
        </form>
    </ion-grid>
</ion-content>
